name: Build and Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x
      - name: Build
        run: dotnet publish Jellyfin.Plugin.RssFeed/Jellyfin.Plugin.RssFeed.csproj --configuration Release --output bin/publish
      - name: Zip
        run: cd bin/publish && zip -r Jellyfin.Plugin.RssFeed.zip .
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: bin/publish/Jellyfin.Plugin.RssFeed.zip
