name: Build and Publish Plugin

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x
      - name: Build Plugin
        run: dotnet build --configuration Release
      - name: Publish to Repo
        uses: jellyfin/jellyfin-plugin-action@v1.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          project-file: Jellyfin.Plugin.RssFeed/Jellyfin.Plugin.RssFeed.csproj
